{% extends 'base.html.twig' %}

{% block title %}
	Homepage
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('styles/app.css')}}" rel="stylesheet">
	{% if app.session.get('user') %}
		{% if app.session.get('user').colorSchema =='dark' %}
			<link href="{{asset('styles/darkApp.css')}}" rel="stylesheet">
		{% else %}
			<link href="{{asset('styles/lightApp.css')}}" rel="stylesheet">
		{% endif %}
	{% else %}
		<link href="{{asset('styles/lightApp.css')}}" rel="stylesheet">
	{% endif %}
{% endblock %}

{% block navbar %}
	<i class="fas fa-hamburger"></i>
{% endblock %}

{% block body %}
	<main class="homepage-container">
		{% if pagination is empty %}
			{% include "error.html.twig" %}
		{% else %}
			{% for elem in pagination %}
				<p>
					a
				</p>
			{% endfor %}
		{% endif %}
	</main>
{% endblock %}
