{% extends 'base.html.twig' %}

{% block title %}
	Admin dashboard
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('styles/admin.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
	<main class="dashboard-container">
		<section class="side">
			<p class="username">
				<span>
					Username
				</span>
				<a href="">
					Logout
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</p>
			<div class="nav">
				<div class="users">
					<p>
						<i class="fas fa-users"></i>
						<span>
							Users
						</span>
						<i class="fas fa-angle-down"></i>
					</p>
					<div class="users-actions">
						<a href="{{path('usersDash')}}">
							<i class="fas fa-list-alt"></i>
							<span>
								Manage users
							</span>
						</a>
					</div>
				</div>
				<div class="galleries">
					<p>
						<i class="fas fa-images"></i>
						<span>
							Images
						</span>
						<i class="fas fa-angle-down"></i>
					</p>
					<div class="galleries-actions">
						<a href="{{path('imagesDash')}}">
							<i class="fas fa-list-alt"></i>
							<span>
								Manage images
							</span>
						</a>
						<a href="">
							<i class="fas fa-trash-alt"></i>
							<span>
								Delete images
							</span>
						</a>
						<a href="">
							<i class="fas fa-plus"></i>
							<span>
								Add images
							</span>
						</a>
					</div>
				</div>
				<div class="categories">
					<p>
						<i class="fas fa-folder-open"></i>
						<span>
							Categories
						</span>
						<i class="fas fa-angle-down"></i>
					</p>
					<div class="categories-actions">
						<a href="">
							<i class="fas fa-list-alt"></i>
							<span>
								Manage categories
							</span>
						</a>
						<a href="">
							<i class="fas fa-trash-alt"></i>
							<span>
								Remove categories
							</span>
						</a>
						<a href="">
							<i class="fas fa-plus"></i>
							<span>
								Add categories
							</span>
						</a>
					</div>
				</div>
				<div class="tags">
					<p>
						<i class="fas fa-tags"></i>
						<span>
							Tags
						</span>
						<i class="fas fa-angle-down"></i>
					</p>
					<div class="tags-actions">
						<a href="">
							<i class="fas fa-list-alt"></i>
							<span>
								Manage tags
							</span>
						</a>
						<a href="">
							<i class="fas fa-trash-alt"></i>
							<span>
								Remove tags
							</span>
						</a>
						<a href="">
							<i class="fas fa-plus"></i>
							<span>
								Add tags
							</span>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="content">
			{% block topContent %}{% endblock %}
			{% block content %}
				<div class="main-org">
					<p class="hello">
						Welcome in Gallery App Dashboard
					</p>
				</div>
			{% endblock %}
		</section>
	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('js/dashboard.js')}}"></script>
{% endblock %}
