body {
  background-color: #242424;
  color: #fff;
}
a {
  color: #bcd4f0;
}

.pagination {
  background-color: #1a73e8;
}
.pagination span {
  color: #fff;
}
.pagination a {
  color: rgba(255, 255, 255, 0.452);
}

.profile-container input {
  color: #fff;
}

.profile-container form {
  border-bottom: 1px solid #fff;
}

.form-row input:focus ~ label,
.form-row input:valid ~ label,
.form-row input:not([value=""]) ~ label {
  background-color: #242424;
}
