body {
  background-color: #fff;
  color: #242424;
}
a {
  color: #1a73e8;
}
.item-data {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.cat-date span:last-of-type {
  color: #858585;
}

.pagination {
  background-color: #1a73e8;
}
.pagination span {
  color: #fff;
}
.pagination a {
  color: rgba(255, 255, 255, 0.452);
}

.profile-container button {
  background-color: #1a73e8;
  color: #fff;
}

.profile-container form {
  border-bottom: 1px solid #858585;
}

.user-data div a {
  background-color: #1a73e8;
  color: #fff;
}

.form-row input:focus ~ label,
.form-row input:valid ~ label,
.form-row input:not([value=""]) ~ label {
  background-color: #fff;
}

.form-box:last-of-type label {
  color: #1a73e8;
  background-color: #fff;
}

.form-box:first-of-type label {
  color: #1a73e8;
}

.form-box select {
  color: #1a73e8;
}
