.dashboard-container {
  width: 98%;
  height: 90vh;
  margin: 5vh auto;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

.fa-toggle-on {
  color: green;
}
.fa-toggle-off,
.fa-trash-alt {
  color: red;
}
.user-object .fa-bookmark {
  color: purple;
}
.fa-hashtag {
  cursor: no-drop;
}

.side {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}
.side .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 5%;
  width: 100%;
}
.username span {
  font-size: 1.5vw;
}
.username a {
  font-size: 1.2vw;
  color: blue;
}
.side .alert {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 5;
  font-size: 1.1vw;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.5vw;
}
.nav div {
  width: 100%;
  min-height: 10%;
}
.nav p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.3em;
  height: 5vh;
  cursor: pointer;
  margin: 3% 0;
}
.nav p i:nth-child(1) {
  flex: 0.2;
}
.nav p span {
  flex: 1;
}
.nav div div {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 85%;
  margin: 1% auto 2%;
  font-size: 1.35vw;
}
.nav div div a {
  color: black;
  width: 100%;
  padding: 0.3em 0.7em;
  margin: 2.5% 0;
}
.nav div div a:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 50px;
  transition: 0.3s;
}
.nav div div.expanded {
  display: flex;
}

.content {
  width: 77%;
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 8px;
  padding: 0.5em 1em;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}
/* Dash homepage */
.main-org {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 3vw;
  font-weight: bold;
}

/* Users display */
.cont-top {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7em;
}
.cont-top p {
  font-size: 1.5vw;
  font-weight: bold;
}
.table-data {
  width: 100%;
  overflow: auto;
  max-height: 90%;
}
.table-data table {
  width: 100%;
  height: auto;
  margin: 1% auto;
  border-spacing: 0;
}
th {
  text-align: left;
  border-bottom: 1px solid gray;
}
tr:nth-child(1) {
  border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: rgb(196, 241, 255);
}
tr:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}
tr {
  height: 7vh;
  font-size: 1.1vw;
}
th:nth-child(1),
td:nth-child(1) {
  padding-left: 0.5em;
}
.users-manage th:nth-child(3),
.users-manage td:nth-child(3) {
  width: 8%;
  text-align: center;
}
.users-manage th:nth-child(4),
.users-manage td:nth-child(4) {
  width: 7%;
  text-align: center;
}
.users-manage th:nth-child(5),
.users-manage td:nth-child(5) {
  width: 7%;
  text-align: center;
  padding-right: 0.5em;
}

.images-manage tr:not(:first-of-type) {
  height: 15vh;
  font-size: 1.1vw;
}
.images-manage td:nth-child(3),
.images-manage th:nth-child(3) {
  width: 18%;
  text-align: center;
}
.images-manage td:nth-child(4),
.images-manage th:nth-child(4) {
  width: 10%;
  text-align: center;
}
.images-manage td:nth-child(5),
.images-manage th:nth-child(5) {
  width: 10%;
  text-align: center;
}
.images-manage td:nth-child(6),
.images-manage th:nth-child(6) {
  width: 10%;
  text-align: center;
}
.images-manage td:nth-child(7),
.images-manage th:nth-child(7) {
  width: 8%;
  text-align: center;
}
.images-manage td:nth-child(8),
.images-manage th:nth-child(8) {
  width: 5%;
  text-align: center;
}

.load-form {
  width: 65%;
  height: 85%;
  margin: auto;
}
.load-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.load-form div label {
  width: 20%;
  font-weight: bold;
  font-size: 1.5vw;
}
.load-form div input,
.load-form div select {
  width: 50%;
  height: 3em;
  border-radius: 8px;
  border: none;
  padding: 0 0.5em;
  font-size: 1.2vw;
}
.load-form form div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}
.load-form form button {
  width: 50%;
  border-radius: 8px;
  border: none;
  height: 3em;
  background-color: rgb(255, 60, 60);
  color: #f1f1f1;
  font-size: 1.3vw;
  cursor: pointer;
}
.load-form input[type="file"] {
  padding: 0.8em 2em;
  cursor: pointer;
}

td img {
  max-height: 12vh;
}

.create-form {
  width: 65%;
  height: 85%;
  margin: auto;
}
.create-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.create-form div label {
  width: 20%;
  font-weight: bold;
  font-size: 1.5vw;
}
.create-form div input[type="text"] {
  width: 50%;
  height: 3em;
  border-radius: 8px;
  border: none;
  padding: 0 0.5em;
  font-size: 1.2vw;
}
.create-form form > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}
.create-form form .tags {
  height: 70%;
}
.create-form form button {
  width: 50%;
  border-radius: 8px;
  border: none;
  height: 3em;
  background-color: rgb(255, 60, 60);
  color: #f1f1f1;
  font-size: 1.3vw;
  cursor: pointer;
}

.tags-org {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 50%;
}
.tags-org div {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.create-form .tags {
  align-items: flex-start;
  min-height: 35%;
  height: auto !important;
}
.tags-org div label {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.tags-manage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  max-height: 90%;
}
.tags-object {
  width: 20%;
  height: 3em;
  font-size: 1.2vw;
  background-color: rgb(207, 206, 206);
  border-radius: 8px;
  margin: 0.5% 1%;
  display: flex;
  padding: 0 0.7em;
  justify-content: space-between;
  align-items: center;
}

.categories-manage td:nth-child(2),
.categories-manage th:nth-child(2) {
  width: 10%;
  text-align: center;
}
.categories-manage td:nth-child(3),
.categories-manage th:nth-child(3) {
  width: 10%;
  text-align: center;
}
.categories-manage td:nth-child(4),
.categories-manage th:nth-child(4) {
  width: 5%;
  text-align: center;
}
