.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.fa-ellipsis-h {
  transition: 0.25s;
  cursor: pointer;
  font-size: 2.5vw;
}
.navbar a {
  font-size: 1.5vw;
}
.navbar .menu {
  position: relative;
}
.navbar .drop-menu {
  display: none;
  flex-direction: column;
  padding: 0.5em;
  position: absolute;
  z-index: 5;
  top: 120%;
  left: -250%;
}
.navbar .expanded {
  display: flex;
}
.drop-menu a {
  margin-bottom: 1vh;
}
.drop-menu a button {
  width: 100%;
  height: 100%;
  font-size: 2vw;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.drop-menu a button i {
  margin-right: 0.5em;
}
.drop-menu .color-schema {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
  margin-top: 1vh;
}
.drop-menu form button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5vw;
}

.homepage-container {
  width: 95%;
  min-height: 85vh;
  margin: 2.5vh auto;
  display: flex;
  flex-direction: column;
}
.images {
  display: flex;
  flex-wrap: wrap;
}
.homepage-img {
  height: auto;
  max-width: 50%;
}
.homepage-img img {
  height: 100%;
  width: 100%;
}

/* Image display page */
.image-display {
  min-height: 85vh;
  height: auto;
  width: 80%;
  margin: 2.5vh auto;
}
.image-object img {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border-radius: 8px;
}
.image-data {
  height: 15vh;
  margin: 1% auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-data .left {
  flex: 5;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-data .stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 90%;
}
.image-data .stats div,
.image-data .stats p {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.image-data .stats form,
.image-data .stats div i,
.image-data .stats p i {
  flex: 0.2;
  text-align: center;
}
.image-data .stats form i {
  font-size: 1vw;
}
.image-data .stats p span,
.image-data .stats div span {
  flex: 1;
  font-size: 1vw;
}
.image-data .image-title {
  width: 100%;
  font-size: 1.3vw;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-data .image-added-at {
  font-size: 1.1vw;
  cursor: default;
}

.stats button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.paginator {
  display: flex;
  align-items: center;
  height: 5%;
  padding: 0 2vw;
}
.positioner {
  flex: 0.15;
  text-align: center;
  padding: 0.7vh 0.5vw;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.positioner:only-child {
  flex: 0.15;
  margin: auto;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-left: 0.2vw;
  flex: 1;
}
.pagination span {
  height: 95%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2vw;
  background-color: transparent;
}
.current {
  color: green;
  border: 1px solid green;
}
.page {
  color: blue;
  border: 1px solid blue;
}
.first a,
.previous a,
.next a,
.last a {
  color: blue;
}

.user-image-collection,
.search-results {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.user-coll-img {
  width: 45%;
  margin: 1% auto;
}
.user-coll-img img {
  width: 100%;
}
.user-img-data {
  height: 10vh;
  margin: 1% auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-img-data .left {
  flex: 5;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-img-data .img-title {
  font-size: 1.1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.user-img-data form button {
  background-color: transparent;
  border: none;
  outline: none;
}
.user-img-data .img-stats {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 90%;
}
.user-img-data .img-stats div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 18%;
}
.user-img-data .img-stats form i {
  font-size: 1vw;
}
.user-img-data .img-stats div span {
  font-size: 1vw;
  margin-right: 0.5em;
}

.img-date-cat {
  display: flex;
  min-width: 35%;
  justify-content: space-between;
  align-items: center;
}
