/* Login page */
.login-container {
  width: 45%;
  height: 90vh;
  margin: 5vh auto;
  background: linear-gradient(
    130deg,
    rgba(99, 94, 194, 1) 0%,
    rgba(230, 129, 56, 1) 100%
  );
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  padding: 1.5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
}
.login-container a {
  color: #9dff00;
}
.login-container .homepage {
  font-size: 2vw;
}
.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 50%;
}
.login-container input {
  width: 98%;
  margin: auto;
  height: 18%;
  border-radius: 8px;
  border: none;
  font-size: 1.2vw;
  padding: 0 0.5em;
}
.login-container button {
  width: 90%;
  margin: auto;
  height: 18%;
  border-radius: 8px;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
}
.login-container .bottom-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  height: 15%;
  justify-content: space-evenly;
  align-items: center;
}

/* Register */
.register-container {
  width: 45%;
  height: 90vh;
  margin: 5vh auto;
  background: linear-gradient(
    130deg,
    rgba(99, 94, 194, 1) 0%,
    rgba(230, 129, 56, 1) 100%
  );
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  padding: 1.5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
}
.register-container a {
  color: #9dff00;
}
.register-container .homepage {
  font-size: 2vw;
}
.register-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 60%;
}
.register-container input {
  width: 98%;
  margin: auto;
  height: 18%;
  border-radius: 8px;
  border: none;
  font-size: 1.2vw;
  padding: 0 0.5em;
}
.register-container button {
  width: 90%;
  margin: auto;
  height: 18%;
  border-radius: 8px;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
}
.register-container p {
  font-size: 1.4vw;
}
